[KGameTheme]
Name=Wikipedia
Description=Theme in the style of Wikipedia's chess diagrams
VersionFormat=1
Author=Frank S. Thomas
AuthorEmail=f.thomas@gmx.de
Type=SVG
FileName=Wikipedia.svg
Preview=Wikipedia.png
