body {
  background: #333;
  color: #FFF;
  font-family: sans-serif;
  text-align: center;
}
a {
  color: #FFF;
}
.centered {
  margin: 0 auto;
  text-align: left;
}
#canvas {
  padding: 0;
  width: 600px;
}
