body {
  background: #333;
  color: #FFF;
  text-align: center;
}
a {
  color: #FFF;
}
footer {
  font-size: smaller;
}
.centered {
  text-align: left;
  margin: 0 auto;
}
#canvas {
  padding: 0;
  width: 600px;
}
