body {
  background: #333;
  color: #FFF;
  font-family: sans-serif;
  font-size: small;
  text-align: center;
}
a {
  color: #FFF;
}
.centered {
  text-align: left;
  margin: 0 auto;
}
#canvas {
  width: 600px;
  height: 600px;
  left: 50%;
  top: 50%;
  position: absolute;
  margin: -300px 0 0 -300px;
  padding: 0;
}
