[KGameTheme]
Name=FreeSerif
Description=Simple gray theme using the FreeSerif chess symbols
VersionFormat=1
Author=Frank S. Thomas
AuthorEmail=frank@timepit.eu
Type=SVG
FileName=FreeSerif.svg
Preview=FreeSerif.png
