[KGameTheme]
Name=Wikipedia
Description=Theme in the style of Wikipedia's chess diagrams
VersionFormat=1
Author=Frank S. Thomas
AuthorEmail=frank@timepit.eu
Type=SVG
FileName=Wikipedia.svg
Preview=Wikipedia.png
